.nav-btns {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.7);
    /* border-radius: 0 0 5px 5px; */
    /* margin: 0.5em; */
    padding: 0.2em;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}

 .nav-btns button{
    font-family: 'Ink Free','Segoe Print';
    font-size: large;
    /* 'Courier New', Courier, monospace;; */
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #eeb50c;
}

.nav-btns button:hover {
    background-color: black;
    color: #eeb50c;
    cursor: pointer;
    box-shadow: 0 0 10px #eeb50c, 0 0 25px #eeb50c, 0 0 50px #eeb50c;
} 
